
        <section id="create-container">
            <div class="create-container-info">
                <h1>Create Announcement</h1>
                <h4>Post your coins to sell</h4>
                <form action="/cryptos/create" method="POST">
                    <label>Name:</label>
                    <input type="text" id="name" name="name" placeholder="Bitcoin" value="{{cryptoData.name}}">
                    <label>Image:</label>
                    <input type="text" id="image" name="imageUrl" placeholder="http://..." value="{{cryptoData.imageUrl}}">
                    <label>Price:</label>
                    <input type="number" id="price" name="price" placeholder="31,166.71" value="{{cryptoData.price}}">
                    <label>Description:</label>
                    <textarea id="description" name="description" placeholder="Introduce your coins...">{{cryptoData.name}}</textarea>
                    <label>Payment method:</label>
                    <select id="payment" name="paymentMethod" value="{{cryptoData.name}}">
                        <option value="crypto-wallet"{{#if select1}}selected{{/if}}>Crypto Wallet</option>
                        <option value="credit-card"{{#if select2}}selected{{/if}}>Credit Card</option>
                        <option value="debit-card"{{#if select3}}selected{{/if}}>Debit Card</option>
                        <option value="paypal"{{#if select4}}selected{{/if}}>PayPal</option>
                    </select>
                    <input type="submit" id="btn" value="TRADE"></input>
                </form>
            </div>
        </section>
    